* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header {
    display: flex;
    background: #222;
    align-items: center;
    justify-content: space-between;

}

.header__left {
    display: flex;
    gap: 41px;
    align-items: center;
    padding-left: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header__right {
    display: flex;
    gap: 25px;
    align-items: center;
    padding-right: 41px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.icon_menu {
    position: relative;
}

/* .header__right .icon_menu:hover~.menu {
    display: block;
} */

.menu {
    display: none;
}

.menu:hover::after {
    display: block;
}

.header__right .icon_menu:hover~.menu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    background: #FFF;
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 32px;
    padding-right: 145px;
    top: 80px;
    right: 380px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu__header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    color: #F16D7F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;

}

.menu__header_item {
    padding-left: 30px;
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.brand {
    background: #F1E4E6;
    display: flex;
    align-items: center;
    gap: 43px;
    padding-left: 0;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.brand__img {
    width: 50%
}

.brand__text {
    border-left: #F16D7F 12px solid;
    padding-left: 16px;
}

.brand__text__header {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.brand__text__of_luxerious {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.brand__text__fashion {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.category {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: start;
    gap: 30px;
    padding-bottom: 96px;
}

.category__items>img {
    z-index: -1;
    width: 100%;
    background: transparent;
}

.category__items {
    position: relative;
    background: rgba(33, 22, 22, 0.70);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.category__items>p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category__items>p>span {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.category__items__big_img__mobile {
    display: none;
}

.feture {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.feture h1 {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
}

.feture p {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;


}

.offer {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
}

.offer__items {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    background: #F8F8F8;
}

.offer__items__background_2_item {
    background: #F7E4E2;
    height: 420px;
    transition: all 0.3s;

}

.offer__items_img {
    padding-left: 108px;
    padding-right: 110px;
    position: relative;
}

.offer__items_img__hover {
    display: none;
}

.offer__items__background_2_item img:hover~.offer__items_img__hover {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 420px;
    background: rgba(58, 56, 56, 0.86);
}

.offer__items_img__hover__button {
    border: #fff 1px solid;
    color: #FFF;
    width: 139px;
    height: 44px;
    margin-left: 30%;
    margin-top: 50%;
    background: transparent;
}

.offer__items_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 0;
    padding-top: 16px;
}

.offer__items h5 {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.offer__items__description {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}

.offer__items__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}


.button {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 60px;
}

.button__browse {
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    border: #F26376 solid 1px;
    padding: 15px 39px;
    transition: all 0.3s;
}

.button__browse:hover {
    background: #F26376;
    color: white;

}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.advantages {
    display: flex;
    gap: 30px;
    align-items: center;
    background: #222224;
}

.advantages__item {
    display: grid;
    gap: 16px;
    padding-top: 103px;
    padding-bottom: 104px;
    justify-items: center;
}

.advantages__item__header {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.advantages__item__text {
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.subscribe {
    background: url(/hw9/img/subscribe_back.png) no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 327px;
    /* position: relative; */
}


.subscribe_img_mobile {
    display: none;
}

.subscribe_img_desktop {
    align-items: center;
    opacity: 0.7;
}

.subscribe__items_left {
    display: grid;
    justify-items: center;
    gap: 30px;
    padding-top: 97px;
    padding-bottom: 126px;
    /* position: absolute; */
    left: 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.subscribe__items_right {
    padding-top: 97px;
    padding-bottom: 126px;
    /* position: absolute; */

    right: 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.subscribe__items__text {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe__items__text__a_pulvinar {
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.subscribe__items_right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.subscribe__items_right__header {
    display: grid;
    justify-items: center;
    align-content: stretch;
    padding-bottom: 32px;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
    /* 40.128px */
}

.subscribe__items_right__text {
    border-radius: 35px 0px 0 35px;
    width: 322.59px;
    height: 49px;
    border: none;
    text-align: center;
    background: #E1E1E1;
    opacity: 0.7 0.7;
    padding-right: 0;
    color: #222224;
    text-align: center;

}

.subscribe__items__for_our {
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.subscribe__items_right__form {
    display: flex;
}

.subscribe__items_right__submit {
    background: #F16D7F;
    border: none;
    border-radius: 0px 35px 35px 0;
    width: 85px;
    height: 49px;
    padding-left: 0;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222224;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer__left {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__right {
    display: flex;
    gap: 7px;
}

.footer__right__item {
    background: #FFF;
    padding: 8px;
    transition: all 0.3s;
}

.footer__right__item:hover path {
    fill: white;
    transition: all 0.3s;
}

.footer__right__item:hover {
    background: #F16D7F;

}

.add_to_cart_hover {
    background: rgba(58, 56, 56, 0.86);
}

@font-face {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
}